* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#top, #bottom {
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 22rem;
  box-shadow: 0 4px 8px 0 #d3d3d3;
}

h1 {
  font-size: 1.5rem;
}

p {
  color: #5b5b5b;
}

h1, p {
  text-align: center;
}

a {
  color: #0072e3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p, a, button {
  font-size: 0.875rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-size: 1rem;
}

input {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 100%;
}

form button {
  background: #0072e3;
  border: none;
  font-weight: bold;
  border-radius: 0.25rem;
  width: 100%;
  color: #fff;
  cursor: pointer;
}

#social-login {
  display: flex;
  gap: 1.5rem;
}

.social-button {
  background: transparent;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  width: 100%;
  padding-block: 0.75rem;
  cursor: pointer;
}

.social-button img {
  width: 1rem;
  height: 1rem;
}

input, button {
  padding: 0.75rem;
}

#top, h1, .input-field, form a, #top p, #sign-in-button {
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 480px) {
  main {
    background-color: #fff;
  }
  
  #container {
    width: 100%;
    max-width: 22rem;
  }
  
  #top {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  #top, #bottom {
    background-color: transparent;
    border-radius: 0;
    width: 100%;
    box-shadow: none;
  }
}
