:root {
    --color-border: #ccc;
    --color-highlight: #0072e3;
    --color-primary-background: #fff;
    --color-primary-text: #000;
    --color-secondary-background: #f9f9f9;
    --color-secondary-text: #585858;
    --color-shadow: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#main {
    align-items: center;
    background-color: var(--color-secondary-background);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 1.5rem;
}

#container {
    background-color: var(--color-primary-background);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 var(--color-shadow);
    gap: 1.5rem;
    max-width: 24rem;
    padding: 1.5rem;
    width: 100%;
}

#title {
    font-size: 1.5rem;
}

#content-area,
#form {
    gap: 1rem;
}

.input-field,
#title-area {
    gap: 0.5rem;
}

#container,
#content-area,
#form,
.input-field,
#title-area {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 1rem;
}

.input {
    background-color: transparent;
    border: 1px solid var(--color-border);
    border-radius: 0.25rem;
    outline-color: var(--color-highlight);
    width: 100%;
}

#title,
.label,
.input {
    color: var(--color-primary-text);
}

.link {
    color: var(--color-highlight);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

#primary-button {
    background-color: var(--color-highlight);
    border: none;
    border-radius: 0.25rem;
    color: var(--color-primary-background);
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

.input,
#primary-button {
    padding: 0.75rem;
}

.paragraph {
    color: var(--secondary-text-color);
}

#title,
.paragraph {
    text-align: center;
}

.input,
.link,
#primary-button,
#division,
.paragraph {
    font-size: 0.875rem;
}

#division {
    align-items: center;
    color: var(--secondary-text-color);
    display: flex;
    gap: 0.5rem;
}

#division::before,
#division::after {
    background-color: var(--color-border);
    content: '';
    height: 1px;
    width: 100%;
}

#social-login {
    display: flex;
    gap: 1.5rem;
}

.social-button {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--color-border);
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-block: 0.75rem;
    width: 100%;
}

.social-button:hover {
    background-color: var(--color-secondary-background);
}

.social-button .image {
    height: 1rem;
    width: 1rem;
}

@media screen and (max-width: 480px) {
    .main {
        align-items: unset;
        background-color: var(--color-primary-background);
        padding: 0;
    }

    #container {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
    }
}
